<p>
<ul>
{{#with response.user}}
<li>user id  {{{id}}} </li>
<li>email id  {{{email}}} </li>
{{/with}}

{{#with response.owner}}
<li>owner id  {{{id}}} </li>
<li>owner id  {{{email}}} </li>
{{/with}}

</ul>
<a href="/home">Homepage</a>